*{
    box-sizing: border-box;
}

root{
    --header-bg: #10375C;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Sora',sans-serif;
}

/* ============================== COMMON ============================== */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: #2E80CE;
    border-radius: 30px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover{
    opacity: 0.8;
}

/* ============================== HEADER ============================== */
.header{
    padding-top: 30px;
    background-color: #10375C;
    min-height: 100vh;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
    /* gap: 42px; */
}

.navbar__link,
.header__action--login{
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 300;
}

.header__action--login:hover,
.navbar__link:hover,
.navbar__link--active{
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 8px;
    top: -3px;
}

.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    border-radius: 22px;
    font-size: 1.6rem;
}

.header__action--login{
    margin-right: 7px;
}

/* ============================== HERO ============================== */
.hero{
    display: flex;
    align-items: center;
    padding-top: 76px;
    gap: 113px;
}

.hero__content{
    width: 44%;
}

.hero__media{
    flex: 1;  /*chiem khoang trong con lai*/
}

.hero__heading{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 300;
}

.hero__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone{
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img{
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--large{
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img--small{
    width: 210px;
    height: 410px;
}
