*{
    box-sizing: border-box;
}

root{
    --header-bg: #10375C;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Sora',sans-serif;
}

/* ============================== COMMON ============================== */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: #2E80CE;
    border-radius: 30px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover{
    opacity: 0.8;
}

.section-heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc{
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.control{
    display: flex;
    column-gap: 18px;
    align-items: center; 
}

.control__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    background-color: #FFF;
    cursor: pointer;
    color: #575F66;
}

.control__btn:hover{
    background-color: #2E80CE;
    color: #FFF;
    border-color: #2E80CE;
}

/* .control__btn:nth-child(2) .control-icon{
    transform: rotateY(180deg);
} */

.control-icon--next{
    transform: rotateY(180deg);
}

/* ============================== HEADER ============================== */
.header{
    padding-top: 30px;
    background-color: #10375C;
    min-height: 100vh;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
    /* gap: 42px; */
}

.navbar__link,
.header__action--login{
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 300;
}

.header__action--login:hover,
.navbar__link:hover,
.navbar__link--active{
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 8px;
    top: -3px;
}

.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    border-radius: 22px;
    font-size: 1.6rem;
}

.header__action--login{
    margin-right: 7px;
}

/* ============================== HERO ============================== */
.hero{
    display: flex;
    align-items: center;
    padding-top: 76px;
    gap: 113px;
}

.hero__content{
    width: 44%;
}

.hero__media{
    flex: 1;  /*chiem khoang trong con lai*/
}

.hero__heading{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 300;
}

.hero__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone{
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img{
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--large{
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img--small{
    width: 210px;
    height: 410px;
}

/* ============================== OUR SERVICE ============================== */
.service{
    padding:170px 0;
    background-color: #fff;
}

.service__heading{
    text-align: center;
}

.service__desc{
    width: 468px;
    margin: 18px auto 0;
    text-align: center;
}

.service__row{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img{
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item{
    width: 470px;
    display: flex;
    border-radius: 10px;
    background-color: #FFF;
    padding: 21px;
    transition: 0.25s;
}

.service-item:hover{
    position: relative; /*tránh bị bóng của item che lên nhau*/
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon{
    background: #2E80CE;
    box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
    color: white;
}

.service-item__icon{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 19px;
    color: #10375C;
    transition: 0.25s;
}

.service-item__heading{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc{
    color: #575F66;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 8px;
}

.service__btn{
    margin-top: 55px;
}

/* ============================== WORK ============================== */
.work{
    background-color: #F6FBFF;
    padding: 100px 0;
}

.work__desc{
    width: 468px;
}

.work__list{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}

.work-item{
    padding: 43px;
    background-color: #FFF;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item__heading{
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc{
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more{
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    transition: 0.25s;
}

.work-item:hover{
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item:hover .work-item__more{
    color: #2E80CE;
    font-weight: 400;
}

/* ============================== ABOUT ============================== */
.about{
    margin-top: 85px;
    padding: 85px 0 206px; /*phía dưới bù thêm 121px tính từ ảnh nhỏ*/
}

.about__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__media{
    width: 49%;
}

.about__content{
    width: 40%;
}

.about__img{
    position: relative;
}
.about__img--big{
    display: flex; /*dưới ảnh có 1 khoảng hở do mang display inline*/
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.about__img--small{
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    position: absolute;
    top: 121px;
    left: 238px;
}

.about__btn{
    margin-top: 38px;
}

/* ============================== TEAM ============================== */
.team{
    padding: 85px 0;
}

.team__header{
    text-align: center;
    /* margin: 0 auto; */
}

.team__cta{
    margin-top: 38px; 
}

.team__list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}

.team-item__img-bg{
    padding-top: 28px;
    background-color: #EAF6FF;
    border-radius: 6px;
    overflow: hidden;
}

.team-item:hover .team-item__thumb{
    transform: scale(1.1);
}

.team-item__thumb{
    height: 290px;
    max-width: 100%;
    object-fit: cover;
    display: block;  /*loại bỏ phần thừa dưới ảnh do display inline*/
    transition: 0.5s;
}

.team-item__name{
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.team-item__desc{
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.team__control{
    margin-top: 38px;
    justify-content: center;
}

/* ============================== INSTALL MOBILE ============================== */
.install{
    margin: 180px 0 85px;
}

.install__inner{
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    position: relative;
}

.install__img{
    width: 284px;
    height: 522px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.install__content{
    max-width: 586px;
}

.install__heading{
    color: #FFF;
    max-width: 489px;
}

.install__desc{
    color: #FFF;
    max-width: 586px;
}

.install__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}
